.fill {
  height: 180px;
  background - position: left;
  background - size: cover;
  overflow: hidden;
}

.gender {
  margin - right: 20px;
}

.fa - venus - mars,
.fa - map - marked - alt {
  margin - right: 4px;
}

.FriendsCard {
  outline: 2px solid black;
}
